<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  {{ stylesheet_pack('form') }}
  {{ javascript_pack('form', attrs='defer') }}
  <title>Form</title>
  <script>
    window.url_to_return = '{{ url_for("hub") }}';
  </script>
</head>

<body>
  <main id="base-form" class="full"></main>
  </div>
</body>

</html>