header {
    .logo {
        width: 100px;
    }

    .no-style {
        background: none;
        border: none;
    }

    .logout-button {
        position: relative;
        float: right;
        top: 20px;

        border-radius: 100px 0px 0px 100px;
        border: 1px solid #79747E !important;
        background: #FFA07A !important;
        display: flex;
        padding: 12px 15px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;
        font-family: "Noto Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;

        cursor: pointer;
        transition: all 0.6s;

        &:hover {
            filter: brightness(90%);
        }

        &:focus {
            filter: brightness(80%);
        }

        span {
            padding-right: 5px;
        }
    }

    .title {
        color: #5c5c5c;
        text-align: center;
        /* Heading */
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.23);
        font-family: "Noto Sans";
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 28.8px */
        letter-spacing: -0.48px;
        outline: black;
    }
}